body{
  background-color: #e1e9d6;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        medium;
/*  margin:         0px;*/
}
fieldset {
	border: 2px dotted black;
}
div.table {
	padding-left:20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 54%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
footer {
  /*background-color: #675c47;
  color:            #efe5d0;*/
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}
h2 {
	padding-left: 30px;
}
      	
